h2 {
    margin-left: 16px;
    margin-top: 16px;
}

.relative-container {
    position: relative;
}

.progress-bar-container {
    position: absolute;
    top: 8px;
    left: 16px;
    right: 16px;
}