<mat-card appearance="outlined" class="user-detail-header">
    <div class="user-detail">
        <img src="../../assets/img/icon-4399701_1280.png" class="profil-image">
        <div>
            <h2>Marcell Hozleiter</h2>
            <span>marcell-hozleiter-at-gmail.com</span>
        </div>
    </div>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            Address
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Musterstraße 1 <br>
        12345 Musetrstadt
    </mat-card-content>
</mat-card>