<p>user-detail works!</p>
<mat-card appearance="outlined" class="user-detail-header">
    <div class="user-detail">
        <img src="../../assets/img/icon-4399701_1280.png" class="profil-image">
        <div>
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <span>{{ user.email }}</span>
            <button mat-icon-button class="icon">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ user.city }}
        </mat-card-title>
        <button mat-icon-button class="icon" (click)="openAdressDialog()">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        {{ user.street }}<br>
        {{ user.zipCode }} {{ user.city }}
    </mat-card-content>
</mat-card>
