<div class="example-button-container">
  <mat-card appearance="outlined">
    <mat-card-content></mat-card-content>
    <table class="user-table">
      <tbody>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>City</th>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.city }}</td>
        </tr>
      </tbody>


    </table>
  </mat-card>





  <button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user"
    [matTooltipPosition]="position.value!">
    <mat-icon>add</mat-icon>
  </button>
</div>